/* https://github.com/theleagueof/league-spartan */
@font-face {
    font-family: 'League Spartan';
    src: url('https://raw.githubusercontent.com/theleagueof/league-spartan/master/_webfonts/leaguespartan-bold.eot');
    src: url('https://raw.githubusercontent.com/theleagueof/league-spartan/master/_webfonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('https://raw.githubusercontent.com/theleagueof/league-spartan/master/_webfonts/leaguespartan-bold.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/theleagueof/league-spartan/master/_webfonts/leaguespartan-bold.woff') format('woff'),
         url('https://raw.githubusercontent.com/theleagueof/league-spartan/master/_webfonts/leaguespartan-bold.ttf') format('truetype'),
         url('https://raw.githubusercontent.com/theleagueof/league-spartan/master/_webfonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
  padding: 20px;
  margin: 0 auto 200px;
  max-width: 1000px;
  background: #f8f8fa;
}

h1, h2, .section h3 {
  font-family: 'League Spartan';
  color: #445;
  padding-top: 20px;
  text-align: center;
  line-height: 1.3em;
}

.row.section  img {
  max-width: 90%;
}

.row.section p {
  margin-bottom: 30px;
}

@media (min-width:768px) {
  .row.section  img {
    margin-left: 10%;
  }
}

.header {
  text-align: center;
}

