/* https://github.com/theleagueof/league-spartan */
@font-face {
    font-family: 'League Spartan';
    src: url('https://raw.githubusercontent.com/theleagueof/league-spartan/master/_webfonts/leaguespartan-bold.eot');
    src: url('https://raw.githubusercontent.com/theleagueof/league-spartan/master/_webfonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('https://raw.githubusercontent.com/theleagueof/league-spartan/master/_webfonts/leaguespartan-bold.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/theleagueof/league-spartan/master/_webfonts/leaguespartan-bold.woff') format('woff'),
         url('https://raw.githubusercontent.com/theleagueof/league-spartan/master/_webfonts/leaguespartan-bold.ttf') format('truetype'),
         url('https://raw.githubusercontent.com/theleagueof/league-spartan/master/_webfonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
  padding: 20px;
  margin: 0 auto 20px;
  max-width: 1000px;
  background: #f8f8fa;
}

h1, h2, .section h3 {
  font-family: 'League Spartan';
  color: #445;
  padding-top: 20px;
  text-align: center;
  line-height: 1.3em;
}

.row.section  img {
  max-width: 90%;
}

.row.section p {
  margin-bottom: 30px;
}

.header {
  text-align: center;
}

#back2Top {
    width: 50px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 10px;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    border-radius: 1em;
    box-shadow: -1.5px 1.5px 1.5px 1.5px lightgrey;
    transition: box-shadow 150ms;
}

#back2Top:hover {
    background-color: #DDF;
    color: #000;
    box-shadow: -1px 1px 1px 1px lightgrey;
}
#back2Top:active {
    box-shadow: none;
}

#connectwithus {
    margin: auto auto 5em;
}

#connectwithusbody {
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: initial;
}

.links {
    width: 20%;
    margin: 10px;
    text-align: center;
}

#options-bar {
    display: flex;
    margin-top: 2em;
}

.dropdown {
    margin-left: auto;
}

#dropdown-container {
    height: 300px;
    width: 200px;
    overflow: scroll;
    padding: 5px;
    border-radius: 5px;
}

.dropdown-items {
    padding: 3px;
}

.dropdown-items:hover{
    cursor: pointer;
    background-color: rgba(221, 221, 255, 0.226);
}

@media only screen and (max-width: 569px) {
    .links {
        width: 25%;
        margin: 10px 0;
    }
}

@media only screen and (max-width: 400px) {
    .links {
        width: 50%;
    }
}
