/* https://github.com/theleagueof/league-spartan */
@font-face {
    font-family: 'League Spartan';
    src: url('https://raw.githubusercontent.com/theleagueof/league-spartan/master/_webfonts/leaguespartan-bold.eot');
    src: url('https://raw.githubusercontent.com/theleagueof/league-spartan/master/_webfonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('https://raw.githubusercontent.com/theleagueof/league-spartan/master/_webfonts/leaguespartan-bold.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/theleagueof/league-spartan/master/_webfonts/leaguespartan-bold.woff') format('woff'),
         url('https://raw.githubusercontent.com/theleagueof/league-spartan/master/_webfonts/leaguespartan-bold.ttf') format('truetype'),
         url('https://raw.githubusercontent.com/theleagueof/league-spartan/master/_webfonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
  padding: 25px;
  margin: 0 auto 25px;
  max-width: 1000px;
  background: #f8f8fa;
}

h1, h2, .section h3 {
  font-family: 'League Spartan';
  color: #445;
  padding-top: 20px;
  text-align: center;
  line-height: 1.3em;
}

.row.section  img {
  max-width: 90%;
}

.row.section p {
  margin-bottom: 30px;
}

.header {
  text-align: center;
}

#back2Top {
    width: 50px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 10px;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    border-radius: 1em;
    box-shadow: -1.5px 1.5px 1.5px 1.5px lightgrey;
    transition: box-shadow 150ms;
}

#back2Top:hover {
    background-color: #DDF;
    color: #000;
    box-shadow: -1px 1px 1px 1px lightgrey;
}
#back2Top:active {
    box-shadow: none;
}

#connectwithus {
    margin: auto auto 5em;
}

#connectwithusbody {
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: initial;
}

.links {
    width: 20%;
    margin: 10px;
    text-align: center;
}

#options-bar {
    display: flex;
    margin-top: 2em;
}

.fto-authors {
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


.recent-contrib-content-box {
    padding: 19px;
}

.recent-contributors-body {
    padding: 0;
}

/* DROPDOWNS */

.dropdown-Repo {
    margin-left: auto;
}

#dropdown-container {
    height: 300px;
    width: 200px;
    overflow: scroll;
    padding: 5px;
    border-radius: 5px;
}

.dropdown-items {
    padding: 3px;
}

.dropdown-items:hover,
.past p:hover,
.sort-items:hover {
    cursor: pointer;
    background-color: rgba(221, 221, 255, 0.226);
}

.past {
    margin-bottom: 5px;
    height: 1.7em;
    width: auto;
    text-align: center;
}

.past p {
    margin: 0;
}

.recent-contribs-show-dropdown,
.recent-contribs-dropdown {
    display: inline-block;
    height: 100%;
}
.recent-contribs-dropdown {
    width: 10%;
    text-align: center;
}
.recent-contribs-show-dropdown {
    width: 12em;
}

.dropdown-toggle-RC {
    display: inline-block;
    text-align: center;
    margin-top: 9px;
}

.dropdown-menu {
    top: 80%;
    background-color: #f6f8fa;
}

#dropdownMenuButtonRCS {
    font-weight: bolder;
}
#dropdownMenuButtonRC,
#dropdownMenuButtonRCS {
    font-family: 'Open sans', serif;
}

#dropdownMenuButtonRC:hover,
#dropdownMenuButtonRCS:hover {
    cursor: pointer;
    color: #111111;
    font-weight: bold;
}

.filter-options {
    border: 1px solid #d1d5da;
    background-color: #f6f8fa;
    color: #566069;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}



/* COPY TO CLIPBOARD BUTTON */

.copybutton {
    width: 30px;
    height: 25px;
    /* float: right; */
    border-radius: 3px;
    border: none;
    box-shadow: 1px 1px 1px 1px #e2abab;
    background-color: #fceeee;
    transition: box-shadow 0.2s ease;
}

.copybutton i {
    margin: 0 3px;
    padding: 6px;
}

.copybutton:hover {
    box-shadow: 0.6px 0.6px 0.5px 0.5px #e2abab;
    cursor: pointer;
}

.copybutton:active {
    box-shadow: 0.1px 0.1px 0.1px 0.1px #e2abab;
}


.pics img, .avatars img {
    margin: 5px 5px;
}

/* STALE ISSUES LIST */

.stale-container {
    margin-bottom: 20px;
}

.stale-container {
    padding: 20px;
    background-color: rgba(221, 221, 221, 0.493);
    border-radius: 10px;

}

.stale {
    overflow: scroll;
    height: 1000px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 569px) {
    .links {
        margin: 10px 0;
    }
}

